.overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    @include flex(row, center, center);
    opacity: 0;
    transition: 600ms opacity linear;

    &.show {
        opacity: 1;
    }

    .modal {
        background-color: white;
        border-radius: 0.5rem;

        .modal-header {
            padding: 0.5rem 1rem;
            @include flex(row, flex-end, center);
            border-bottom: 1px solid lightgray;

            span {
                cursor: pointer;
            }
        }

        .modal-body {
            padding: 2.5rem;
        }

        .modal-footer {
            padding: 0.5rem 1rem 1rem;
            @include flex(row, space-around, center);
        }
    }
}